@tailwind base;
@tailwind components;
@tailwind utilities;

.ol-control {
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-zoom {
  top: .5em;
  left: .5em;
}

.ol-zoom-in,
.ol-zoom-out {
  background-color: rgba(0,60,136,0.5);
  color: white;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  border: none;
  border-radius: 2px;
}

.ol-zoom-in:hover,
.ol-zoom-out:hover {
  background-color: rgba(0,60,136,0.7);
}